<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>71672070481-ohttso4dc3fe8n2i6av4cugvv5crdapj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71672070481-ohttso4dc3fe8n2i6av4cugvv5crdapj</string>
	<key>API_KEY</key>
	<string>AIzaSyDOfUJRmkMuxY0ZoJ0Ant5VRJ56qZZZ_eU</string>
	<key>GCM_SENDER_ID</key>
	<string>71672070481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.gopinath.tournament</string>
	<key>PROJECT_ID</key>
	<string>tournament-7e7ce</string>
	<key>STORAGE_BUCKET</key>
	<string>tournament-7e7ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71672070481:ios:abe0837e5c7a9105</string>
	<key>DATABASE_URL</key>
	<string>https://tournament-7e7ce.firebaseio.com</string>
</dict>
</plist>