<ion-header>

  <ion-navbar>
    <ion-title>{{sport.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <!--
  <div class="breadcrumb" *ngIf="showBreadCrumb">
      {{gender=='male'?'Men':'Women'}} > {{sport.name}} > {{categoryDetails.title}}
  </div>
  -->
  <div *ngIf="scheduleData">
    <!--
    <div *ngIf="scheduleData.match">   
        <ion-card>
            <ion-card-header color="primary">
                Live Score
            </ion-card-header>

            <ion-list>
              <ion-item text-center>
                    <ion-row class="team-score-row">
                        <ion-col col-6>
                            {{scheduleData.match[0].score}}
                        </ion-col>
                        <ion-col col-6>
                            {{scheduleData.match[1].score}}
                        </ion-col>
                    </ion-row>

                    <ion-row class="team-name-row">
                        <ion-col col-6>
                            {{scheduleData.match[0].team}}
                        </ion-col>
                        <ion-col col-6>
                            {{scheduleData.match[1].team}}
                        </ion-col>
                    </ion-row>
                    <p class="match-date">
                      {{scheduleData.match.date | date:'fullDate'}}
                    </p>
                </ion-item>
              </ion-list>
        </ion-card>
    </div>
    -->
    <div >   
        <ion-card no-padding >
            <ion-card-header color="primary" text-uppercase>
              Schedule
            </ion-card-header>

            <ion-list>
                <ion-item>
                      <ion-card  (click)="details($event,i)" *ngFor="let scheduleItem of scheduleData;let i = index" >
                        <ion-list no-border>  
                          <ion-item>
                            <h2>Home Team</h2>
                            <ion-note item-end>
                                <h2>{{scheduleItem.details.teams.home}}</h2>
                            </ion-note>
                          </ion-item>
                          <ion-item>
                            <h2>Guest Team</h2>
                            <ion-note item-end>
                                <h2>{{scheduleItem.details.teams.guest}}</h2>
                            </ion-note>
                          </ion-item>
                          <ion-item>
                              <ion-grid class="scheduleDetails">
                                  <ion-row>
                                    <ion-col no-padding text-left>
                                      <ion-row>
                                          <ion-col>
                                              {{scheduleItem.details.level}}
                                          </ion-col>
                                      </ion-row>
                                      <ion-row>
                                          <ion-col>
                                              {{scheduleItem.details.status}}
                                          </ion-col>
                                      </ion-row>
                                    </ion-col>
                                    <ion-col no-padding text-right>
                                        <ion-row *ngIf="scheduleItem.details.date">
                                            <ion-col>
                                              {{scheduleItem.details.date}}
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col>
                                              {{scheduleItem.details.time}}
                                            </ion-col>
                                        </ion-row>
                                      </ion-col>
                                  </ion-row>
                              </ion-grid>
                          </ion-item>
                          <!--
                          <ion-item>
                            <h2>Level</h2>
                            <ion-note item-end>
                                <h2>{{scheduleItem.details.level}}</h2>
                            </ion-note>
                          </ion-item>
                          <ion-item>
                            <h2>Status</h2>
                            <ion-note item-end>
                                <h2>{{scheduleItem.details.status}}</h2>
                            </ion-note>
                          </ion-item>
                          -->
                        </ion-list>  
                        
                        <!--
                        <ion-list no-border>  
                          <ion-item (click)="dateClicked($event,i)">
                                <ion-icon name="time" item-start large></ion-icon>
                                <h3>{{scheduleItem.date | date:'fullDate'}}</h3>
                                <p>{{scheduleItem.time}}</p>
                          </ion-item>
                        </ion-list>
                        <ion-list no-border>  
                          <ion-item (click)="addressClicked($event,i)">
                              <ion-icon name="navigate" item-left large ></ion-icon>
                              <h3>{{scheduleItem.location.address}}</h3>
                              <p>{{scheduleItem.location.city}}, {{scheduleItem.location.state}} {{scheduleItem.location.zip}}</p>
                          </ion-item>
                        </ion-list>  
                        -->
                      </ion-card>
                </ion-item>
              
              
       
            </ion-list>
          </ion-card>

    </div>

  </div>
</ion-content>

